
@{
    ViewBag.Title = "Calculate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row top-margin-twenty">
    <h2>Calculate</h2>
    <hr />
    <div class="col-sm-6 col-md-6">

        @*
            Weight
            Height
            Gender
            Age
        *@

        <form action="Result" class="form-horizontal" method="post">
            <fieldset>
                
                <div class="form-group">
                    <label for="input" class="col-lg-2 control-label">Weight</label>
                    <div class="col-lg-10">
                        <input type="text" name="userWeight" class="form-control" placeholder="Enter your weight (kg)">
                    </div>
                </div>

                <div class="form-group">
                    <label for="input" class="col-lg-2 control-label">Height</label>
                    <div class="col-lg-10">
                        <input type="text" name="userHeight" class="form-control" placeholder="Enter your height (cm)">
                    </div>
                </div>

                <div class="form-group">
                    <label for="input" class="col-lg-2 control-label">Age</label>
                    <div class="col-lg-10">
                        <input type="text" name="userAge" class="form-control" placeholder="Enter your age">
                    </div>
                </div>

                <div class="form-group" style="padding-bottom:15px; border-bottom: 1px solid #e5e5e5;">
                    <label class="col-lg-2 control-label">Gender</label>
                    <div class="col-lg-10">
                        <div class="radio">
                            <label>
                                <input type="radio" name="userGender" value="Male" checked="">
                                Male
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="userGender" value="Female">
                                Female
                            </label>
                        </div>
                    </div>
                </div>
                
                
               
                @*
                    Waist
                    Hip
                    Forearms
                    Wrist
                *@

                @*<div class="form-group">
                    <label for="input" class="col-lg-2 control-label">Waist</label>
                    <div class="col-lg-10">
                        <input type="text" name="userWaist" class="form-control" placeholder="Enter your waist diameter (cm)">
                    </div>
                </div>

                <div class="form-group">
                    <label for="input" class="col-lg-2 control-label">Hip</label>
                    <div class="col-lg-10">
                        <input type="text" name="userHips" class="form-control" placeholder="Enter your hips diameter (cm)">
                    </div>
                </div>

                <div class="form-group">
                    <label for="input" class="col-lg-2 control-label">Forearms</label>
                    <div class="col-lg-10">
                        <input type="text" name="userForearms" class="form-control" placeholder="Enter your forearms diameter (cm)">
                    </div>
                </div>

                <div class="form-group" style="padding-bottom:15px; border-bottom: 1px solid #e5e5e5;">
                    <label for="input" class="col-lg-2 control-label">Wrist</label>
                    <div class="col-lg-10">
                        <input type="text" name="userWrist" class="form-control" placeholder="Enter your wrist diameter (cm)">
                    </div>
                </div>*@


                
                <div class="form-group has-success">
                    <label class="col-lg-2 control-label" for="inputSuccess">*Target*</label>
                    <div class="col-lg-10">
                        <input type="text" name="userTargetWeight" class="form-control" id="inputSuccess" placeholder="Please enter your target  weight (kg)">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-3">
                       <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
                
            </fieldset>
        </form>

    </div>


    <div class="col-sm-6 col-md-6">

        <div class="panel panel-default">
            <div class="panel-heading">How it works?</div>
            <div class="panel-body">
                <p>The calculator will process your inputs to find your <strong><em>Body Mass Index</em></strong> and <strong><em>Body Fat Percentage</em></strong>.</p>
                <p>According to those, the calculator will generate <strong>a workout schedule</strong> and <strong>a list of healthy nutritions</strong> for you!</p>
            </div>
        </div>
        

    </div>
</div>
