@model BMI.Models.UserResult 
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Result</h2>

<div class="row">

    <h4>Target:@Model.TargetWeight </h4>
    <h4>Gender: @Model.Gender</h4>

</div>