@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Life Coach</h1>
    <p class="lead">Life Coac is a free web application for that enables users to calculate their fat percentage and mass index of their bodies and have useful informations to make transition to a healthier life.</p>
    <!--<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Content/Images/belly-radius.png" alt="Body Weight Control">
            <div class="caption">
                <h3>Learn your body fat percentage!</h3>
                <p>Use that extended body fat percentage calculator to find out your results!</p>
                <p class="landing-center-elements"><a href="@Url.Action("Calculate", "Coach")" class="btn btn-default" role="button">Show</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Content/Images/cereals.png" alt="Nutritions">
            <div class="caption">
                <h3>Find out healthy meal lists!</h3>
                <p>Find out which kind of meals you should consume to maximize calorie consumption!</p>
                <p class="landing-center-elements"><a href="@Url.Action("Calculate", "Coach")" class="btn btn-default" role="button">Show</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Content/Images/workout-routine.png" alt="Workout Routines">
            <div class="caption">
                <h3>Learn effective workout routines!</h3>
                <p>Find out which kind of workout routines are best for your goal!</p>
                <p class="landing-center-elements"><a href="@Url.Action("Calculate", "Coach")" class="btn btn-default" role="button">Show</a></p>
            </div>
        </div>
    </div>
</div>
